body{
  background-image: url(note.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

input{
  border: none;
  font-size: 15px;
  padding: 7px;
}

.all{
  margin-top: 40px;
}

.crosseds{
  text-decoration: line-through 2px red;
}

.container{
  display: flex;
  justify-content: center;
}

ul, li{
  list-style: none;
  padding: 15px;
  margin: 0;
  font-size: 25px;
}

.ent{
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 35px;
}

.del{
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 35px;
}